<div class="card-columns">
  <% @listings.each do |listing| %>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
        <p class="card-text"><%= listing.content %></p>
        <p class="card-text"><small class="text-muted"><%= listing.user.email %> - <%= listing.listing_category.name %></small></p>
      </div>
    </div>
  <% end %>
</div>
<nav aria-label="Listing navigation">
  <%== pagy_bootstrap_nav(@pagy) %>
</nav>
<br>

<%= link_to 'New Listing', new_listing_path %>
