<div class="card my-2">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="http://placehold.it/150x50?text=Listing" alt="<%= listing.title %>">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to listing.title, listing_path(listing.id) %></h5>
        <p class="card-text"><%= listing.content %></p>
        <p class="card-text"><small class="text-muted"><%= listing.user.email %> - <%= listing.listing_category.name %></small></p>
      </div>
    </div>
  </div>
</div>
