<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <title>Classified</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body class="<%= controller_name.dasherize %> <%= action_name.dasherize %>">
    <%= render 'shared/nav' %>

    <div class="container">
      <main role="main" class="container-fluid">
        <%= render 'shared/flashes' %>

        <%= yield %>
      </main>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
