<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <title>Listing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <main role="main" class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'shared/slider' %>
      <%= yield %>
    </main>
  </body>
</html>


